@font-face {
  font-family: Joseon;
  src: url("./assets/JoseonFont.ttf")
}

body {
  margin: 0;
  padding: 0;
}
::selection {
  background: #e53935; /* WebKit/Blink Browsers */
}

a {
  color: #e53935;
}

.DraftEditor-root {
  font-family: 'Noto Sans KR', sans-serif !important;
}