body {
  margin: 0;
  padding: 0;
  background-color: black;
}
::selection {
  background: #7CFC00; /* WebKit/Blink Browsers */
}

a {
  color: #7CFC00;
}

.DraftEditor-root {
  font-family: 'Inconsolata', monospace !important;
}
